@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');


.container > div {
    
    border-style: none;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}



.container {

    width:100%;
    height:auto;
    margin: 0 auto;
    padding:20px;
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows:repeat(3, 200px);
    grid-auto-rows:100px;
    grid-auto-flow:row;
    gap:30px;
    justify-content:center;
    
    
}

.item {
    display:flex;
    justify-content: center;
    align-items:flex-end;
}


.one {
    grid-row-start:1;
    grid-row-end:2;
    
}

.two {
    grid-column-start:2;
    grid-column-end:4;
}

.three {
    grid-column:4;
    grid-row-start:1;
    grid-row-end:3;
    align-items: stretch;
}
.six {
    grid-row-start:2;
    grid-row-end:4;
}

.seven {
    grid-row-start:3;
    grid-row-end:4;
       
}


.eight {
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:4;
    
}

@media (max-width:1440px) {

}

@media (max-width:375px) {

    .two {
        width:100%
        
    }

}
